# Web scraping
requests
beautifulsoup4
selenium
webdriver-manager

# Gestion des fichiers et manipulation de données
unidecode
numpy
pandas
matplotlib
pickle
csv
json
io

# Base de données
pymongo
mysql-connector-python

# API et authentification
fastapi
uvicorn
python-dotenv
pyjwt
passlib[bcrypt]

# Géolocalisation
geopy

# Gestion du temps et des tâches
schedule

# Logging et utilitaires divers
logging
